@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Nunito+Sans:wght@300;600;800&family=Source+Sans+Pro:wght@400;600;700&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
}


.authContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 150px);

  .wrapper {
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .login_box {
    display: flex;
    padding: 20px;
    margin-top: 20px;

    @media (max-width: 600px) {
      flex-direction: column;
      width: 90%;
    }
  }
}

.loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .6);

  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
  }

  .loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg)
    }
  }

  @keyframes prixClipFix {
    0% {
      clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }
    25% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }
    50% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
    75% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }
    100% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
  }
}

.admin-controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .slider-wrapper {
    display: flex;
    gap: 40px;
    width: 400px;
    margin-right: 30px;
  }

  @media (max-width: 800px) {
    flex-direction: column;
    gap: 30px;

    .slider-box,
    .slider-wrapper,
    .status-switcher-wrapper,
    .locale-select-wrapper {
      width: 100%;
    }

    .status-switcher {
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: 1000px) {
    flex-wrap: wrap;
  }

  @media (min-width: 800px) {
    .button-generate-user {
      margin: 30px auto 0 auto;
    }
  }

  @media (min-width: 1000px) {
    .button-generate-user {
      margin: 30px 0 0 0;
    }
  }
}

.admin-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 800px) {
    flex-direction: column;

    .admin-user-header-status {
      align-self: flex-end;
      margin-bottom: 20px;
    }

    .admin-controls-buttonGroup {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}


.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #31a2ac;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }

    &:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    &:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    &:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
}


